@{
    ViewBag.Title = "За мен";
}
<<<<<<< HEAD



<div  class="about">
    <img src="~/img/forMe.jpg" alt="Теодора Маркова"/>
</div>

<div class="about">
    <p>
        Здравейте казвам се Теодора Маркова и както се вижда плета.
        Стремежа ми е да създавам точните неща за конкретния човек.
        За да постигна тази цел ми е нужна вашата помощ.
        Ако поръчвате нещо за приятел, моля с няколко думи да ми разкажете за него.
        Какво харесва, какъв човек е. В смисъл: енергичен, спокоен и т.н.
        Ще ми се когато човек получава някакъв подарък да го почувсква като нещо свое и да го използва.
    </p>
</div>
=======
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@
>>>>>>> origin/master
<address>
    <b>София</b><br />
    <abbr title="Phone">Тел:</abbr>
    <a>088 851 4598</a>
</address>
