@{
    ViewBag.Title = "Поръчка";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<br /> <br />
<address>
    <strong>Телефон:</strong> 8-989-555-55-55</a><br/><br />
    <strong>Е-майл:</strong> <a href="mailto:PletiTedyPleti@mail.com">PletiTedyPleti@mail.com</a>
</address>