@{
    ViewBag.Title = "Home";
}
@model List<PletiTedyPleti.Models.Post>



<main>
    <div class="jumbotron">
        <h1>Плети Теди Плети</h1>
        <p class="lead">Здравейте приятели и бъдещи приятели! Това е мястото да си поръчате уникални плетени нещица специално за вас или за ваш приятел.</p>
        <p><a href="/Home/About" class="btn btn-primary btn-lg">Научи още &raquo;</a>
        </p>
    </div>

    <aside class="menu">
        <span class="asideHeader">Последни публикации</span>
        <ul>
            @foreach (var post in Model)
            {
                <li>
                    <a href="/Posts/Details/@post.Id">@post.Title</a>
                </li>
            }
        </ul>
    </aside>

    <div class="row">
        @foreach (var post in Model)
        {
            <div class="col-md-3">
                <h2>@post.Category</h2>
                <div>
                    <i>@post.Images</i>
                </div>
            </div>
        }
    </div>

</main>



