@{
    ViewBag.Title = "Home";
}
@model List<PletiTedyPleti.Models.Post>

<main>
    <div class="jumbotron">
        <h1>Плети Теди Плети</h1>
        <p class="lead">Здравейте приятели и бъдещи приятели! Това е мястото да си поръчате уникални плетени нещица специално за вас или за ваш приятел.</p>
        <p>
            <a href="/Home/About" class="btn btn-primary btn-lg">Научи още &raquo;</a>
        </p>
    </div>

    <aside class="menu">
        <span class="asideHeader">Последни публикации</span>
        <ul>
            @foreach (var post in Model)
            {
                <li>
                    <a href="/Posts/Details/@post.Id">@post.Title</a>
                </li>
            }
        </ul>

        <br/>

        <div class="popularTags">
            <span class="asideHeader">Популярни тагове</span>
            <br/>

            @foreach (var tag in ViewBag.Tags)
            {
                <span class="tags">
                    
                   @if (!string.IsNullOrEmpty(tag.Name))
                   {
                    <a href="/Posts/DisplayTagSearchResults/@tag.Id">@tag.Name</a>
                   }
                </span>
            }
        </div>
    </aside>
    
    <div class="row">

        @foreach (var category in ViewBag.Categories)
        {
            <div class="col-md-3">
                <h2>
                    <a href="~/Views/Categories/@category.Id">@category.name</a>
                </h2>
                <div>
                    <img src="@category.adress"/>
                </div>
            </div>
        }
    </div>

</main>



